{% extends 'base.html.twig' %}

{% block body %}
    <div class="news-article">
        <h2>{{ news.title }}</h2>
        <div>
            Опубликовано: {{ news.publishedAt|date('d.m.Y H:i') }}
        </div>
        <div>
            {{ news.content }}
        </div>

        <div>
            <a href="{{ path('app_news') }}">
                ← Все новости
            </a>
        </div>

        <div>
            <a href="{{ news.source }}" target="_blank">
                Источник: ТАСС
            </a>
        </div>
    </div>
{% endblock %}