{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <h1>Регистрация</h1>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    {{ form_start(registrationForm) }}
    <div class="text-field text-field_floating-3">
        {{ form_widget(registrationForm.email) }}
        {{ form_label(registrationForm.email) }}
    </div>

    <div class="text-field text-field_floating-3">
        {{ form_widget(registrationForm.plainPassword) }}
        {{ form_label(registrationForm.plainPassword) }}
    </div>

    <div>
    <button type="submit" class="btn">Отправить</button>
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}